# APP
PORT=5000
DEBUG=true
NODE_ENV=development
APP_HOST=http://localhost:5000
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173

# DATABASE
MONGO_URI=mongodb://localhost:27017/blogDB

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_ACCESS_EXPIRES=30m
JWT_REFRESH_EXPIRES=28d

# GEMINI API CRED
GEMINI_API_KEY=your_api_secret